@model IEnumerable<Eshop_Bookstore.Models.Cart>

@{
    ViewData["Title"] = "Index";
    bool instock = true;
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cart</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shopping_cart_area mt-100">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                @if (Model.Count() == 0)
                                {
                                    <tbody>
                                        <tr>
                                            <p class="text-center">Không có sản phẩm nào trong giỏ hàng</p>
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Hình Ảnh</th>
                                            <th class="product_thumb">Tên</th>
                                            <th class="product_name">Giá</th>
                                            <th class="product-price">Số lượng</th>
                                            <th class="product_quantity">Tổng tiền</th>
                                            <th class="product_total">Chỉnh sửa</th>
                                            <th class="product_total">Xóa</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <form asp-action="UpdateToCart">
                                                <td class="product_thumb"><a href="#"><img src="~/EshopView/assets/img/product/@Html.DisplayFor(modelItem => item.Product.Image)" alt=""></a></td>
                                                <td class="product_name"><a href="#"></a>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                                                <td class="product-price">@Html.DisplayFor(modelItem => item.Product.Price)</td>
                                                <input type="hidden" name="id" value="@Html.DisplayFor(modelItem=>item.ProductId)" />
                                                <td class="product_quantity"><input min="1" max="100" name="soluong" value="@Html.DisplayFor(modelItem => item.Quantity)" type="number">
                                                @if (item.Product.Stock < item.Quantity)
                                                {
                                                    instock = false;
                                                    <span class="text-red">Tồn Kho: @Html.DisplayFor(modolItem=>item.Product.Stock)</span>
                                                }
                                                </td>
                                                <td class="product_total">@Html.DisplayFor(modelItem => item.Total)</td>
                                                <td>
                                                    <input class="btn btn-success" type="submit" value="Sửa">
                                                </td>
                                                <td class="product_remove">
                                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o text-white"></i></a>
                                                </td>
                                            </form>
                                            </tr>
                                        }
                                        </tbody>
                                    }
                                </table>
                            </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="coupon_code right">
                            <h3>Tổng Tiền Giỏ Hàng của bạn</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Tổng tiền:</p>
                                    <p class="cart_amount">@{var d = string.Format("{0:#,##0} VND", ViewData["Total"]); } @d </p>
                                </div>
                                <div class="checkout_btn">
                                    @if (instock)
                                        {
                                            <a asp-action="Pay">Thanh toán</a>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

